@model Model.Entries.Institution

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Details</title>
    </head>
    <body>
        @{
            await Html.RenderPartialAsync(
                "~/Views/Institution/_PartialDetailsContent.cshtml",
                Model
            );
        }
        <div>
            @{
                await Html.RenderPartialAsync(
                    "~/Views/Institution/_Departments.cshtml",
                    Model.Departments.ToList()
                );
            }
        </div>
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            <a asp-action="Index">Back to List</a>
        </div>
    </body>
</html>